.container {
  margin-top: 20px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.gif {
  display: block;
  margin-bottom: 1rem;
}

.errorContainer {
  border: 1px solid red;
  padding: 16px;
  margin-top: 16px;
  background-color: #ffe6e6;
  color: #cc0000;
}

.errorContainer h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.errorMessage {
  font-weight: bold;
}
